<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         verbose="true">
    <testsuite>
        <directory suffix="Test.php">tests</directory>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <php>
        <const name="INDX_LOGIN" value=""/>
        <const name="INDX_PASSWORD" value=""/>
        <const name="INDX_WMID" value=""/>
        <const name="SYMBOL_ID" value=""/>
        <const name="TRADING_START" value=""/>
        <const name="TRADING_END" value=""/>
    </php>
</phpunit>
